.image-container {
    text-align: center;
}

.image-container {
    border: 15px solid #15237e;
    border-radius: 5px;
}

.image-container img {
    height: 300px;
    object-fit: cover;
    width: 80%;

}