.title-color {
  color: #14279B !important;
}

.bg-blue {
  background-color: #14279B !important;
  color: #fff !important;
}

.hover-blue:hover {
  background-color: #14279B !important;
  color: #fff !important;
}